<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Host Domain</title>
</head>

<body>
    <div class="container">
        <form  action="/test" method="post">
            <label for="domain">Query</label>
            <input type="text" id="domain" name="query" placeholder="Query" required>
            <label for="domain">Country</label>
            <input type="text" id="domaidd" name="country" placeholder="Country">
            <label for="domain">Interval</label>
            <input type="text" id="domai" name="interval" placeholder="Interval">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>
